recursive-include CADRE/test *.py
recursive-include CADRE/test *.pkl
recursive-include CADRE/data *.txt
recursive-include CADRE/data *.dat
recursive-include CADRE/data *.f90
recursive-include CADRE/data *.py
